{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node":"current"
            }
        }],
        "@babel/preset-react"
    ],
    "plugins" : [
        "@babel/transform-async-to-generator",
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "@babel/plugin-syntax-dynamic-import"
    ]
}

